.DeleteAccount-container {
  margin-top: 70px;
}

.DeleteAccount-container button {
  border: 1px solid black;
  background-color: var(--main-bg-color);
  font-size: 1.3rem;
  margin-top: 10px;
  box-shadow: 0.25px 0.25px;
  cursor: pointer;
}
