.DeleteAccount-container {
  width: 330px;
  margin: 0 auto;
  margin-top: 70px;
  text-align: left;
}

.DeleteAccount-user_input {
  border: none;
  border-bottom: 1px solid black;
  width: calc(100% - 132px);
}

.DeleteAccount-user_input:focus {
  outline-color: transparent;
}

.DeleteAccount-container button {
  display: block;
  border: 1px solid black;
  background-color: var(--main-bg-color);
  font-size: 1.3rem;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 0.25px 0.25px;
  cursor: pointer;
}

.DeleteAccount-text {
  margin-top: 0px;
  text-align: center;
  font-size: 0.8rem;
}

.DeleteAccount-errors {
  margin: 0 auto;
  margin-bottom: 12px;
  margin-top: 8px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  width: 160px;
  border-radius: 7px;
  color: var(--main-bg-color);
  background-color: #dc143c;
}
