.Dashboard-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-buttons-container {
  margin-top: 15px;
  pointer-events: none;
  cursor: default;
}

#posts-button {
  pointer-events: auto;
  font-size: 1.2rem;
  display: block;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid var(--border-color-black);
  cursor: pointer;
  width: 90px;
}

#posts-button:focus {
  outline-color: transparent;
}

#global-button {
  pointer-events: auto;
  font-size: 1.2rem;
  display: block;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid var(--border-color-black);
  cursor: pointer;
  width: 90px;
}

.global-button-hidden {
  visibility: hidden;
  position: absolute;
}

.post-buttons {
  visibility: visible;
  position: static;
}

.post-buttons-hidden {
  display: none !important;
}

.Dashboard-new_posts_button {
  font-size: 1.2rem;
  box-shadow: 0px 0px 1px;
  padding: 4px 8px;
  width: 200px;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 25px;
  font-weight: 400;
}

.Dashboard-new_posts_button:hover {
  box-shadow: 0px 0px 3px;
}

.active {
  background-color: var(--secondary-bg-color) !important;
  color: var(--main-text-color) !important;
}

@media only screen and (min-width: 860px) {
  .Dashboard-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 80%;
    border-left: 1px solid var(--border-color-black);
    border-right: 1px solid var(--border-color-black);
    border-bottom: 1px solid var(--border-color-black);
    background-color: var(--main-bg-color);
  }

  .global-button-hidden {
    visibility: visible;
    position: static;
  }

  #posts-button {
    display: inline-block;
    visibility: visible !important;
    position: static !important;
  }

  #global-button {
    display: inline-block;
    visibility: visible !important;
    position: static !important;
  }

  .Dashboard-post_buttons_and_create_post {
    min-height: 100vh;
    min-width: 350px;
    padding-left: 6%;
  }

  .Dashboard-post_buttons_and_create_post-inner {
    position: fixed;
    top: 34%;
    font-size: 1.2rem;
  }

  .Dashboard-Post_component {
    margin-top: 10px;
    min-width: calc(100% - 350px - 5%);
  }

  .active {
    background-color: var(--main-text-color) !important;
    color: var(--main-bg-color) !important;
  }
}
