.ChangePassword-container {
  width: 330px;
  margin: 0 auto;
  text-align: left;
}

.ChangePassword-heading {
  text-align: center;
  margin-bottom: 8px;
  text-decoration: underline;
}

.ChangePassword-user_input_password {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  border: none;
  border-bottom: 1px solid var(--border-color-black);
  width: calc(100% - 161px);
  border-radius: 0;
}

.ChangePassword-user_input_password:focus {
  outline-color: transparent;
}

.ChangePassword-user_input_password2 {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  border: none;
  border-bottom: 1px solid var(--border-color-black);
  width: calc(100% - 182px);
  margin-top: 10px;
  border-radius: 0;
}

.ChangePassword-user_input_password2 {
  outline-color: transparent;
}

.ChangePassword-submit_button {
  display: block;
  border: 1px solid var(--border-color-black);
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
  margin: 0 auto;
  margin-top: 13px;
  width: 80px;
}

.ChangePassword-errors {
  margin: 0 auto;
  margin-bottom: 12px;
  margin-top: 8px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  width: 160px;
  border-radius: 7px;
  color: var(--border-color-white);
  background-color: #dc143c;
}
