.CreatePost-container {
  margin: 0 auto;
}
.create-post-form {
  display: inline-block;
}

.CreatePost-container textarea {
  margin-top: 15px;
  vertical-align: bottom;
  width: 300px;
}

.CreatePost-container input {
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 17px;
  border: 1px solid black;
  background-color: var(--main-bg-color);
  font-size: 1rem;
  cursor: pointer;
}
