.CreatePost-container {
  margin: 0 auto;
}
.create-post-form {
  display: inline-block;
}

.CreatePost-title {
  margin-top: 20px;
  padding-top: 0px;
  margin-bottom: 10px;
}

.CreatePost-container textarea {
  vertical-align: bottom;
  width: 300px;
}

.CreatePost-submit_button {
  margin-bottom: 40px;
  margin-top: 10px;
  background-color: var(--main-bg-color);
  border: 1px solid black;
  font-size: 0.9rem;
  cursor: pointer;
}
