.CreatePost-container {
  margin: 0 auto;
}
.create-post-form {
  display: inline-block;
}

.CreatePost-title {
  margin-top: 20px;
  padding-top: 0px;
  margin-bottom: 10px;
}

.CreatePost-container textarea {
  vertical-align: bottom;
  min-width: 250px;
}

.CreatePost-submit_button {
  margin-bottom: 40px;
  margin-top: 10px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--border-color-black);
  font-size: 0.9rem;
  cursor: pointer;
}

.fa-paper-plane {
  color: var(--font-awesome-color);
}

.CreatePost-errors {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  width: 160px;
  border-radius: 7px;
  color: var(--border-color-white);
  background-color: #dc143c;
}

.CreatePost-successes {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  width: 140px;
  border-radius: 7px;
  color: var(--border-color-white);
  background-color: #1e90ff;
}

@media screen and (min-width: 860px) {
  .CreatePost-container textarea {
    width: 300px;
  }
}