.AboutMe-container {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

.AboutMe-container span {
  word-wrap: break-word;
}

.AboutMe-submit_button {
  background-color: var(--main-bg-color);
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
}

.fa-edit {
  cursor: pointer;
}

@media screen and (min-width: 860px) {
  .AboutMe-container {
    text-align: left;
  }
}
