.AboutMe-container {
  margin: 0 auto;
  padding: 0;
  width: 75%;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.AboutMe-container span {
  word-wrap: break-word;
}

.AboutMe-container textarea {
  word-wrap: break-word;
  min-width: 230px;
  min-height: 50px;
}

.AboutMe-submit_button {
  background-color: var(--main-bg-color);
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
}

.fa-edit {
  cursor: pointer;
}

@media screen and (min-width: 860px) {
  .AboutMe-container {
    text-align: left;
    font-size: 1.4rem;
  }

  .AboutMe-container textarea {
    min-width: 300px;
    min-height: 70px;
  }
}
