.ChangeEmail-container {
  width: 330px;
  margin: 0 auto;
  text-align: left;
}

.ChangeEmail-heading {
  text-align: center;
  margin-bottom: 8px;
  text-decoration: underline;
}

.ChangeEmail-user_input_email {
  border: none;
  border-bottom: 1px solid black;
  width: calc(100% - 82px);
}

.ChangeEmail-user_input_password {
  border: none;
  border-bottom: 1px solid black;
  width: calc(100% - 132px);
}

.ChangeEmail-submit_button {
  display: block;
  border: 1px solid black;
  background-color: var(--secondary-bg-color);
  margin: 0 auto;
  margin-top: 8px;
  width: 80px;
}

.ChangeEmail-errors {
  margin: 0 auto;
  margin-bottom: 12px;
  margin-top: 8px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  width: 160px;
  border-radius: 7px;
  color: var(--main-bg-color);
  background-color: #dc143c;
}
