.Profile-container {
  position: relative;
}

.profile-tabs-container {
  margin-top: 0px;
  display: inline-block;
  padding: 0;
  width: 130px;
  cursor: pointer;
  font-size: 1.4rem;
}

.profile-tabs-container li {
  border: 1px solid var(--border-color-black);
  border-top: 1px solid var(--border-color-black);
  list-style-type: none;
  margin: 0 auto;
  padding-bottom: 3px;
  padding-top: 3px;
}

.Profile-hidden_tab {
  display: none;
}

.Profile-successes {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  width: 140px;
  border-radius: 7px;
  color: var(--border-color-white);
  background-color: #1e90ff;
}

.Profile-errors {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  width: 160px;
  border-radius: 7px;
  color: var(--border-color-white);
  background-color: #dc143c;
}

.Profile-active {
  visibility: hidden;
  position: absolute;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
}

.Profile-not_active {
  visibility: hidden;
  position: absolute;
}

@media screen and (min-width: 860px) {
  .Profile-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    border-right: 1px solid var(--border-color-black);
    border-left: 1px solid var(--border-color-black);
    background-color: var(--main-bg-color);
  }

  .profile-tabs-container {
    width: 100%;
    font-size: 2.4rem;
    font-weight: 500;
    height: 100%;
    border-right: 1px solid var(--border-color-black);
  }

  .profile-tabs-container li {
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: none;
    border-left: none;
    border-top: none;
  }

  .Profile-hidden_tab {
    display: block;
  }

  .Profile-hidden_tab_perm {
    display: none;
  }

  .Profile-desktop_flex {
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid var(--border-color-black);
    border-bottom: 1px solid var(--border-color-black);
  }

  .Profile-tabs_desktop {
    width: 30%;
  }

  .Profile-tab_information_desktop {
    padding-top: 10px;
    margin-top: 5px;
    width: 70%;
  }

  #tab-0 {
    display: none;
  }

  #tab-1 {
    display: none;
  }

  #tab-2 {
    display: none;
  }

  #tab-3 {
    display: none;
  }

  .Profile-active {
    visibility: visible;
    position: static;
  }

  .Profile-not_active {
    visibility: visible;
    position: static;
  }
}
