.HeaderAuth-container {
  margin-right: 15px;
}

.HeaderAuth-container img {
  box-shadow: 0 0 0.5px;
  vertical-align: middle;
  height: 26px;
  width: 24px;
}

.HeaderAuth-name {
  display: none;
}

.profile-link {
  cursor: pointer;
}

.profile-link:hover {
  text-decoration: underline;
}

.HeaderAuth-sign_out-text {
  display: none;
}

.login-text {
  color: var(--secondary-text-color);
}
#sign-up {
  display: none;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 860px) {
  .HeaderAuth-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: var(--secondary-text-color);
  }

  #sign-up {
  display: initial;
  color: var(--secondary-text-color);
  }
}
