.HeaderAuth-container {
  margin-right: 15px;
  color: black;
}

.HeaderAuth-container img {
  display: inline;
}

.profile-link {
  cursor: pointer;
}

.profile-link:hover {
  text-decoration: underline;
}
