.HeaderAuth-container {
  margin-right: 15px;
  color: black;
}

.HeaderAuth-container img {
  display: inline;
  box-shadow: 0 0 0.5px;
  vertical-align: middle;
}

.HeaderAuth-name {
  vertical-align: middle;
  margin-left: 5px;
}

.profile-link {
  cursor: pointer;
}

.profile-link:hover {
  text-decoration: underline;
}

.HeaderAuth-sign_out-text {
  display: none;
}
