.Settings-container-absolute {
  min-height: 100vh;
  padding-bottom: 30px;
  margin: 0 auto;
}

.Settings-container {
  margin-bottom: 180px;
}

.Settings-successes {
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  width: 140px;
  border-radius: 7px;
  color: var(--main-bg-color);
  background-color: #1e90ff;
}

.Settings-DeleteAccount {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 860px) {
  .Settings-container-absolute {
    margin: 0 auto;
    width: 80%;
    background-color: var(--main-bg-color);
    border: 1px solid black;
    border-top: none;
    padding-top: 1px;
  }

  .Settings-DeleteAccount {
  }
}
