.Settings-container {
  height: 100%;
  padding-bottom: 15px;
}

.Settings-successes {
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  width: 140px;
  border-radius: 7px;
  color: var(--main-bg-color);
  background-color: #1e90ff;
}

@media screen and (min-width: 860px) {
  .Settings-container {
    margin: 0 auto;
    width: 80%;
    background-color: var(--main-bg-color);
    border: 1px solid black;
    border-top: none;
    padding-top: 1px;
  }
}
