.Avatar-container {
  position: absolute;
  left: calc(50% - 87.5px);
  top: 62.5px;
}

.Avatar-container img {
  height: 200px;
  width: 175px;
  border: 2px solid white;
  margin: 0 auto;
}
