.Avatar-container {
  position: absolute;
  left: calc(50% - 70px);
  top: 5px;
}

.Avatar-container img {
  width: 140px;
  height: 182px;
  border: 1px solid var(--secondary-bg-color);
  margin: 0 auto;
}

#Avatar-avatar {
  cursor: pointer;
}

@media screen and (min-width: 860px) {
  .Avatar-container {
    left: calc(50% - 87.5px);
    top: 62.5px;
  }

  .Avatar-container img {
    width: 170px;
    height: 220px;
  }
}
