.Post-container {
  margin: 0 auto;
  width: 90%;
}

.Post-specifics {
  text-align: left;
  margin: 0 auto;
  width: 80%;
  border: 1.1px solid black;
}

.post-image-and-name {
  padding-left: 5px;
  border: 1px solid black;
}

.Post-specifics h3 {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  margin-left: 3px;
  cursor: pointer;
}

.Post-specifics h3:hover {
  text-decoration: underline;
}

.Post-specifics p {
  display: inline-block;
  font-size: 1rem;
  padding-left: 2px;
  padding-bottom: 5px;
  margin: 0px;
  margin-left: 3px;
}

.comment-specifics {
  text-align: left;
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
  border-top: none;
  background-color: var(--secondary-bg-color);
}

.comment-specifics img {
  display: inline-block;
  padding-left: 5px;
}

.comment-specifics h4 {
  display: inline;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 2px;
  margin: 0px;
  margin-left: 3px;
  cursor: pointer;
}

.comment-specifics h4:hover {
  text-decoration: underline;
}

.comment-specifics p {
  font-size: 0.9rem;
  padding: 0px;
  margin: 0px;
  margin-left: 3px;
  padding-left: 2px;
  padding-bottom: 5px;
}

.add-comment-button-container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  height: 30px;
  padding-right: 2px;
}

.add-comment-button {
  height: 100%;
  font-size: 0.8rem;
  border: 1px solid black;
  border-top: none;
  background-color: var(--main-bg-color);
}
