.AddFriend-container {
  position: absolute;
  top: 17px;
  right: 25px;
  border: 1px solid black;
  padding-left: 3px;
  padding-right: 3px;
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  font-weight: 400;
}
