.Footer-container {
  font-size: 0.7rem;
  position: relative;
  border-top: 1px solid var(--main-text-color);
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 5%;
  height: 6%;
  background-color: var(--main-overlay-color);
  color: var(--secondary-text-color);
}
