.UploadAvatar-container input {
  display: none;
}

.UploadAvatar-error {
  display: inline-block;
  border: 1px solid var(--border-color-black);
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}

.UploadAvatar-loading {
  pointer-events: none;
}
