.SideBar-container {
  visibility: hidden;
  position: absolute;
  border-right: 1px solid black;
  width: 30%;
  height: calc(100% - 80px);
  background-color: var(--main-overlay-color);
  z-index: 2;
  font-size: 1.4rem;
  background-color: var(--secondary-bg-color);
}

.SideBar-container-visible {
  visibility: visible;
}

.SideBar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.SideBar-container ul li {
  padding-bottom: 8px;
  cursor: pointer;
}

.SideBar-container ul li:hover {
  text-decoration: underline;
}
