.Friends-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 80%;
  margin: 0 auto;
}

.friend-icon {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 5%;
  margin-left: 5%;
  padding: 8px;
  cursor: pointer;
  border: 2px solid var(--secondary-bg-color);
}

.friend-icon:hover {
  box-shadow: 0px 0px 2px;
}

.friend-icon p {
  margin: 0;
  font-weight: 400;
}

.friend-icon img {
  height: 120px;
  width: 100px;
}

@media screen and (min-width: 300px) {
  .Friends-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 500px) {
  .Friends-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .Friends-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1500px) {
  .Friends-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1900px) {
  .Friends-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
