.CreateComment-container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding-right: 2px;
}

.CreateComment-container textarea {
  min-height: 40px;
  max-height: 50vh;
  width: 100%;
  border: 1px solid black;
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 2px;
}

.CreateComment-container input {
  border: 1px solid black;
  background-color: var(--secondary-bg-color);
  font-size: 1.1rem;
  cursor: pointer;
}

.CreateComment-container input:hover {
  box-shadow: 0.25px 0.25px;
}

.CreateComment-errors {
  margin-top: 3px;
  margin-bottom: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  display: block;
  color: red;
  font-size: 0.8rem;
  font-weight: 300;
  width: 180px;
  border-radius: 7px;
  color: var(--main-bg-color);
  background-color: #dc143c;
}
