.Login-container {
  font-size: 1.1rem;
  padding-top: 3%;
  margin-bottom: 50px;
}

.Login-container h1 {
  margin-bottom: 30px;
}

.Login-container p {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0;
}

.Login-container form input {
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid var(--border-color-black);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border-radius: 0;
}

.Login-container button {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid var(--border-color-black);
  height: 45px;
  box-shadow: 0.25px 0.25px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.Login-container button:hover {
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
  cursor: pointer;
}

.Login-container input:focus {
  outline: none;
}

.Login-create_account {
  display: inline-block;
}

.Login-create_account:hover {
  text-decoration: underline;
}

.Login-errors {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  width: 140px;
  border-radius: 7px;
  color: var(--border-color-white);
  background-color: #dc143c;
}

.Login-successes {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  width: 140px;
  border-radius: 7px;
  color: var(--border-color-white);
  background-color: #1e90ff;
}

@media screen and (min-width: 860px) {
  .Login-container {
    margin-bottom: 0px;
  }
  .Login-container form input {
    background-color: var(--secondary-bg-color);
  }

  .Login-container input:last-child {
    background-color: var(--main-bg-color);
  }
}
